# ========== UNITY ==========
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# ========== VISUAL STUDIO ==========
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.booproj
*.svd

# ========== OTHERS ==========
obj/
*.log